<meta charset="utf-8">
<!-- set size of webpage to the device width and set the zoom to 1 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title }} - Comissioneur</title>

<link rel="icon" type="image/png" href="../public/resources/images/favicon.png" />

<!-- Bootstrap/jQuery CDN includes -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

