<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- set size of webpage to the device width and set the zoom to 1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} - Comissioneur</title>

    <link rel="icon" type="image/png" href="../public/resources/images/favicon.png" />

    <!-- Bootstrap/jQuery CDN includes -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- navbar CSS -->
    <link rel="stylesheet" href="../resources/css/navbar.css" />
    <link rel="stylesheet" href="../resources/css/profile.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-image navbar-image">
                <a href="/home">
                    <img src="../public/resources/images/logo.png" alt="Commissioneur" height="20"/>
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- the navbar links -->
            <div class="navbar-links">
                <ul class="nav navbar-nav">
                    <li><a href="browse">Browse</a></li>
                    <li><a href="shop">Shop</a></li>
                    <li><a href="commissions">Commissions</a></li>
                    <li><a href="timelines">Timelines</a></li>
                    <li><a href="upload">Upload</a></li>
                </ul>
            </div>
            <!-- right section of navbar -->
            <div id="navbar-right-section">
                <div class="navbar-search">
                    <!-- insert form action here... -->
                    <form class="navbar-form" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <img src="../public/resources/images/search.png" alt="Search" height="20" width="20"/>
                        </button>
                    </form>
                </div>


                <div id="pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="login">Login</a></li>
                        <li><a href="signup">Sign up</a></li>
                    </ul>
                </div>


            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% set title = '{{ session.DisplayName }}&#39;s Profile' %}
{% extends "base.html" %}
{% block head %}
<!-- navbar CSS -->
<link rel="stylesheet" href="../public/resources/css/navbar.css" />
<link rel="stylesheet" href="../resources/resources/css/profile.css" />
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<!-- body content goes here... -->
<div class="container-fluid">
    <div class="sidebar">
        <img src="../resources/images/profile.png">
        <span class="sidebarText">Username</span>
        <div class="sidebarText">
            <a href="#" class="sidebarText">Diary</a>
            <a href="#" class="sidebarText">Request a commission</a>
            <span>Following</span>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div class="col-md-5">
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div class="col-md-5">
                    <span>...</span>
                </div>
            </div>
            <span>Followers</span>
            <div class="followers">
                <div>
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../resources/images/profile.png" height="32">
                    </a>
                </div>
                <a href="#">
                    <img src="../resources/images/profile.png" height="32">
                </a>
                <div>
                    <span>...</span>
                </div>
            </div>
            <span>External links</span>
            <div class="extlinks">
                <div>
                    <a href="#">
                        <img src="../resources/images/icons/facebook.png" height="30">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../resources/images/icons/twitter.png" height="30">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../resources/images/icons/reddit.png" height="30">
                    </a>
                </div>
                <a href="#">
                    <img src="../resources/images/icons/deviantart.png" height="30">
                </a>
                <div>
                    <span>...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="user-content">
            <span class="title">Biography</span>
            <br>
            Biography goes here...
        </div>
        <div class="user-content">
            <span class="title">Featured Posts</span>
            <br>
            Features posts goes here...
        </div>
        <div class="user-content">
            <span class="title">All Posts</span>
            <br>
            All posts goes here...
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>