<div class="sidebar">
    <div class="sidebarText">
        <span>Filters</span>
        <a href="#" class="sidebarText">Up and coming</a>
        <a href="#" class="sidebarText">Popular</a>
        <a href="#" class="sidebarText">Not so popular</a>
        <span>Categories</span>
        <a href="#" class="sidebarText">Art</a>

        <a href="#" class="cat-selected-text">Digital</a>
        <a href="#" class="cat-selected-text">Traditional</a>
        <a href="#" class="cat-selected-text">Animals</a>
        <a href="#" class="cat-selected-text">Anthro</a>
        <a href="#" class="cat-selected-text">Anime/Manga</a>
        <a href="#" class="cat-selected-text">Cartoons</a>
        <a href="#" class="cat-selected-text">Cariaceteurs</a>

        <a href="#" class="sidebarText">Crafts</a>
        <a href="#" class="sidebarText">Music</a>
        <a href="#" class="sidebarText">Writing</a>
        <a href="#" class="sidebarText">Photography</a>
        <a href="#" class="sidebarText">Films</a>
        <a href="#" class="sidebarText">Animation</a>
    </div>
</div>