{% set title = 'Submission' %}
{% extends "base.html" %}
{% block head %}
<!-- navbar CSS -->
<link rel="stylesheet" href="/server/public/resources/css/navbar.css" />
<link rel="stylesheet" href="/server/public/resources/css/submission.css" />
{% endblock %}
{% block body %}

{% include "navbar.html" %}

<!-- body content start -->
<div class="flex-container">
    <div class="container-fluid content">
        <div class="row">
            <div class="col-sm-8">
                <img src="{{submission.path}}" class="img-responsive"/>
            </div>
            <div class=" col-sm-4 more-images">
                <div class=" container media-body">
                    <span class="more-images-title">More images from user</span>
                    <div class="suggested-image">
                        <div>
                            <a href="#"><img src="public\resources\images\test\foxes\Red-Fox.png" class="img-responsive"/></a>
                        </div>
                        <div>
                            <span class="image-title">Image title</span>
                            <p>Brief description of the image...</p>
                        </div>
                    </div>
                    <div class="suggested-image">
                        <div>
                            <a href="#"><img src="..\public\resources\images\test\dogs\171485438.jpg" class="img-responsive"/></a>
                        </div>
                        <div>
                            <span class="image-title">Image title</span>
                            <p>Brief description of the image...</p>
                        </div>
                    </div>
                    <div class="suggested-image">
                        <div>
                            <a href="#"><img src="..\public\resources\images\test\other\forests-why-matter_63516847.jpg" class="img-responsive"/></a>
                        </div>
                        <div>
                            <span class="image-title">Image title</span>
                            <p>Brief description of the image...</p>
                        </div>
                    </div>
                    <div class="suggested-image">
                        <div>
                            <a href="#"><img src="..\public\resources\images\test\wolves\wild-wolf.jpg" class="img-responsive"/></a>
                        </div>
                        <div>
                            <span class="image-title">Image title</span>
                            <p>Brief description of the image...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <span>Title of submission</span>
        </div>
        <div class="user-container">
            <div>
                <a href="#"><img src="public\resources\images\profile.png"/></a>
            </div>
            <div>
                <a href="#"><p id="title">User title</p></a>
                <p>Description</p>
            </div>
            <div class="pull-right">
                <p>tags/metadata</p>
            </div>
        </div>
        <div class="title">
            <span>Comments</span>
        </div>
        <div class="media">
            <div class="media-left">
                <img src="..\public\resources\images\profile.png" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <!-- Nested media object -->
                <div class="media">
                    <div class="media-left">
                        <img src="..\public\resources\images\profile.png" class="media-object" style="width:45px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <!-- Nested media object -->
                        <div class="media">
                            <div class="media-left">
                                <img src="..\public\resources\images\profile.png" class="media-object" style="width:45px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}