{% set title = 'Upload a file' %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="public/resources/css/navbar.css" />
<link rel="stylesheet" href="public/resources/css/upload.css">
{% endblock %}
{% block body %}
{% include "navbar.html" %}
<p class="heading">Upload a file...</p>

{% if session.IsLoggedIn is same as("true") %}
<div class="container">
    <form action="upload" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
            <table class="table">
                <tr colspan="8">
                    <td width="10%">
                        <label for="titleType" class="sr-only">Submission type</label>
                        <p id="titleType">Type of Creation<span class="required">*</span></p>
                    </td>
                    <td>
                        <div class="horizontal-scroll">
                            <table>
                                <tr>
                                    <td width="168px">
                                        <input type="radio" id="typeArt" name="type" value="art" checked="checked">
                                        <label for="typeArt">Art</label>
                                        <br>
                                        <select name="inputGenreArt">
                                            <option selected disabled>Select Genre</option>
                                            <option value="artAnthro">Anthro</option>
                                            <option value="artAnime">Anime/Manga</option>
                                            <option value="artCartoon">Cartoon</option>
                                            <option value="artAnimal">Animals</option>
                                            <option value="artCariectueres">Cariectueres</option>
                                        </select>
                                    </td>
                                    <td width="168px">
                                        <input type="radio" id="typeCrafts" name="type" value="crafts">
                                        <label for="typeCrafts">Crafts</label>
                                        <br>
                                        <select name="inputGenreCrafts">
                                            <option selected disabled>Select Genre</option>
                                            <option value="craftsScuplter">Sculptuer</option>
                                            <option value="craftCosplay">Cosplay</option>
                                        </select>
                                    </td>
                                    <td width="168px">
                                        <input type="radio" id="typeMusic" name="type" value="music">
                                        <label for="typeMusic">Music</label>
                                        <br>
                                        <select name="inputGenreMusic">
                                            <option selected disabled>Select Genre</option>
                                            <option value="musicIndie">Indie</option>
                                            <option value="musicRock">Rock</option>
                                            <option value="musicHeavyMetal">Heavy Metal</option>
                                            <option value="musicElectronic">Electronic</option>
                                        </select>
                                    </td>
                                    <td width="168px">
                                        <input type="radio" id="typePhoto" name="type" value="photo">
                                        <label for="typePhoto">Photo</label>
                                        <br>
                                        <select name="inputGenrePhoto">
                                            <option selected disabled>Select Genre</option>
                                            <option value="photoDigital">Digital</option>
                                        </select>
                                    </td>
                                    <td width="168px">
                                        <input type="radio" id="typeFilm" name="type" value="film">
                                        <label for="typeFilm">Film</label>
                                        <br>
                                        <select name="inputGenreFilm">
                                            <option selected disabled>Select Genre</option>
                                        </select>
                                    </td>
                                    <td width="168px">
                                        <input type="radio" id="typeAnimation" name="type" value="animation">
                                        <label for="typeAnimation">Animation</label>
                                        <br>
                                        <select name="inputGenreAnimation">
                                            <option selected disabled>Select Genre</option>
                                            <option value="animationCartoon">Cartoon</option>
                                            <option value="animationTraditional">Traditional</option>
                                            <option value="animationAnime">Anime style</option>
                                            <option value="animationAnthro">Antrhro style</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>File upload<span class="required">*</span></p>
                    </td>
                    <td>
                        <label for="inputFile" class="sr-only">File</label>
                        <input type="file" id="inputFile" name="inputFile" class="form-control" placeholder="Upload File..." required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Upload title<span class="required">*</span> + description</p>
                    </td>
                    <td>
                        <label for="inputTitle" class="sr-only">Title</label>
                        <input type="text" id="inputTitle" name="inputTitle" class="form-control" placeholder="Title" required autofocus>
                        <br>
                        <label for="inputDescription" class="sr-only">Description (optional)</label>
                        <input type="text" id="inputDescription" name="inputDescription" class="form-control" placeholder="Enter a desicription (optional)...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Tags (Optional, seperated by commas)</p>
                    </td>
                    <td>
                        <label for="inputTags" class="sr-only">Tags (optional)</label>
                        <input type="text" id="inputTags" name="inputTags" class="form-control" placeholder="Enter tags seperated by commas..." height="20" width="20">
                    </td>
                </tr>
            </table>
        </div>

        <input type="hidden" name="{{csrf.nameKey}}" value="{{csrf.name}}">
        <input type="hidden" name="{{csrf.valueKey}}" value="{{csrf.value}}">

        <div class="button-wrapper">
            <button class="btn btn-default" >Save Draft</button>
            <button class="btn btn-default" type="submit">Upload</button>
        </div>
    </form>
</div>

{% else %}

<p class="heading-centre">Login or Sign up to submit an artwork to Commissioneur.</p>
{% endif %}

{% endblock %}

