/* style info for the commissioneur logo link */
.navbar-image {
    display: inline-block;
    float: left;

}

/* styling the search bar section */
.navbar-search {
    float: left;
}

/* styling the user login/profile section */
.navbar-user {
    float: right;
    list-style-type: none;
}

.navbar-header {
    padding-top: 10px;
    padding-right: 10px;
}

